<section class="no-padding-top">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-12">
              <div class="card">
                  <div class="card-header">
                      <h3 class="h4">Control de Facturas</h3>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table id="table" class="table table-striped ">
                          <thead>
                              <tr>
                                  <th></th>
                                  <th>Fecha Emisión</th>
                                  <th>N° Factura</th>
                                  <th>Nombre Factura</th>
                                  <th>Fecha Vencimiento</th>
                                  <th>Estado</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <th scope="row" ><i class="fa fa-exclamation-circle"></i></th>
                                  <td  >29/03/2019</td>
                                  <td  >12453231235</td>
                                  <td  >Nombre Factura</td>
                                  <td  >29/03/2019</td>
                                  <td  >vencidas</td>
                                  <td >
                                      <button class="btn btn-xs " title="Enviar Aviso"><i class="fa fa-envelope"></i></button>
                                  </td>
                              </tr>
                              <tr>
                                  <th scope="row"><i class="fa fa-bell"></i></th>
                                  <td> 29/03/2019</td>
                                  <td> 123545241234</td>
                                  <td  >Nombre Factura</td>
                                  <td  >29/04/2019</td>
                                  <td  >Activa</td>
                                  <td >
                                          <button class="btn btn-xs " title="Enviar Aviso"><i class="fa fa-envelope"></i></button>
                                   </td>
                              </tr>
                              <tr>
                                  <th scope="row"><i class="fa fa-bell"></i></th>
                                  <td >29/03/2019</td>
                                  <td >452124353643</td>
                                  <td  >Nombre Factura</td>
                                  <td  >2/04/2019</td>
                                  <td  >por vencer</td>
                                  <td >
                                          <button class="btn btn-xs " title="Enviar Aviso"><i class="fa fa-envelope"></i></button>
                                 </td>
                              </tr>  
                          </tbody>
                      </table>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

