<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>mapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="map_canvas">
   <!--map_canvas<ion-button ion-button (click)="onButtonClick()"><ion-icon name="locate"></ion-icon></ion-button>--> 
  </div>

</ion-content>
