<section class="no-padding-top">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-12">
              <div class="card">
                  <div class="card-header">
                      <h3 class="h4">Reportes</h3>
                  </div>
                  <div class="card-body">
                      <h3>Aquí pondrémos los Reportes</h3>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
