<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Servicios Realizados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row style="border-bottom: solid ;background-color:dodgerblue;">
            <ion-col size="4">
                Recorrido
              </ion-col>
              <ion-col size="4">
                 Fecha
                </ion-col>
                <ion-col size="4">
                   Convenio
                  </ion-col>
           </ion-row>
          <ion-row style="border-bottom: solid ;">
              <ion-col size="4">
                  recorrido 1
                </ion-col>
                <ion-col size="4">
                  21-02-2019
                  </ion-col>
                  <ion-col size="4">
                      Enjoy
                    </ion-col>
          </ion-row>
          <ion-row>
              <ion-col size="4">
                  recorrido 2
                </ion-col>
                <ion-col size="4">
                    21-02-2019
                  </ion-col>
                  <ion-col size="4">
                      Enjoy
                    </ion-col>
          </ion-row>
    </ion-grid>
</ion-content>
