html, body {
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
  }
  
  #calendar {
    max-width: 900px;
    margin: 40px auto;
  }
  .ng-invalid.ng-touched:not(form){
    border: 1px solid red;
  }