
<section class="no-padding-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                       
                        <h3 class="h4">Agendar Servicio</h3>
                    </div>
                    <div class="card-body">
                        <div id='calendar'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>

  <div class="container">
    
      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Guargar Servicios</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
             
            </div>
            
            <div class="modal-body">
             <div class="card-body">
              <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="">Nombre Cliente</label><br>
                    <input type="text" id="prueba" value="juan carlos x">
                  </div>
                  <div class="form-group col-md-6">
                      <label for="">Dirección</label><br>
                      <input type="text" id="direccion" value="Yungay 123">
                    </div>
                  <div class="form-group col-md-6">
                      <label for="">Nombre Chofer</label><br>
                      <input type="text" id="chofer" value="perdo perez">
                    </div>
                    <div class="form-group col-md-6 ">
                        <label for="">Hora</label><br>
                        <input type="time" id="hora" value="">
                      </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="myBtn" data-dismiss="modal">Guardar</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
          </div>
          
        </div>
      </div>
      
    </div>
    <div class="container">
    
        <!-- Modal2 -->
        <div class="modal fade" id="miModal" role="dialog">
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Editar Nombre Chofer</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
               
              </div>
              
              <form>

                  <div class="container">
                
                    <div class="form-group row " >
                      <div class="col-8">
                        <input class="form-control"
                        type="text" 
                        disabled id="edprueba" 
                        value="">
                      </div>
                    </div>
                
                    <div class="form-group row ">
                      <div class="col-8">
                          <input class="form-control" type="text" id="eddireccion" value="" disabled>
                      </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-8 col-form-label d-flex ">Nombre Chofer</label><br>
                        <div class="col-8">
                            <input class="form-control" 
                                    type="text" 
                                     id="edchofer"
                                     placeholder="Nombre Chofer"
                                      value="" 
                                     name="nombrech"
                                     ngModel 
                                     required>
                        </div>
                      </div>
                      <div class="form-group row ">
                          <label class="col-12 col-form-label ">Hora</label><br>
                          <div class="col-8">
                              <input class="form-control" type="time" disabled id="edhora" value="">
                          </div>
                        </div>
                  </div>   
                </form>

              
              <div class="modal-footer">
                  <button type="submit"  class="btn btn-primary" id="miBtn" data-dismiss="modal">Guardar</button>
                  <button type="submit" class="btn btn-danger" id="miBt" data-dismiss="modal">Borrar</button>

              </div>
            </div>
            
          </div>
        </div>
        
      </div>