<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Reporte Vale</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
   <ion-grid >
    <ion-row style="border-bottom: groove;">
        <ion-col size="4">
        <ion-label >N°Vale</ion-label>
      </ion-col>
      <ion-col size="4">
        <ion-label >Fecha</ion-label>
      </ion-col>
          <ion-col size="4">
          <ion-label >Valor Convenio</ion-label>
        </ion-col>
    </ion-row>
    <ion-row style="border-bottom: groove;">
        <ion-col size="4">
        <ion-label >124324</ion-label>
      </ion-col>
      <ion-col size="4">
        <ion-label >02/02/2018</ion-label>
      </ion-col>
      <ion-col size="4">
          <ion-label >row</ion-label>
        </ion-col>
    </ion-row>
    <ion-row style="border-bottom: groove;">
        <ion-col size="4">
        <ion-label >row</ion-label>
      </ion-col>
      <ion-col size="4">
        <ion-label >02/02/2018</ion-label>
      </ion-col>
        <ion-col size="4">
        <ion-label >row</ion-label>
      </ion-col>
    </ion-row>
    <ion-row >
        <ion-col size="4">
        <ion-label >row</ion-label>
      </ion-col>
      <ion-col size="4">
        <ion-label >02/02/2018</ion-label>
      </ion-col>
        <ion-col size="4">
        <ion-label >row</ion-label>
      </ion-col>

    </ion-row>
</ion-grid>
</ion-content>
