<div class="card">
    <div class="card-header">
        <h3 class="h4">Titulo</h3>
    </div>
    <div class="card-body">
        <p>Sesion Iniciada</p>
        <div>
            Usuario:
            <ul>
                <li *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</li>
            </ul>
        </div>
    </div>
</div>