<section class="no-padding-top">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-12">
              <div class="card">
                  <div class="card-header">
                      <h3 class="h4">Movimientos Bancarios</h3>
                  </div>

                  <div class="card-body ">
                      <div class="table-responsive">
                      <table class="table table-striped ">
                          <thead>
                              <tr>
                                  <th>Fecha</th>
                                  <th>Sucursal</th>
                                  <th>N° Operación</th>
                                  <th>Descripción</th>
                                  <th>Cargos</th>
                                  <th>Abonos</th>
                                  <th>Saldo</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <th scope="row"> </th>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                              </tr>
                              <tr>
                                  <th scope="row"></th>
                                  <td></td>
                                  <td> </td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                              </tr>   
                              <tr>
                                  <th scope="row"></th>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td ></td>
                                  <td></td>
                                  <td></td>
                                 </tr> 
                          </tbody>
                      </table>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</section>
<!-- Page Footer-->