<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Registro Vale</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
      <ion-item>
        <ion-icon name="clipboard" item-star></ion-icon>
        <ion-input name="vale"  type="text" placeholder="N° Vale "></ion-input>
      </ion-item>
      <ion-item>
          <ion-icon name="person"item-star></ion-icon>
          <ion-input type="text" placeholder="Nombre Cliente "></ion-input>
        </ion-item>
        <ion-item>
            <ion-icon name="car"item-star></ion-icon>
            <ion-input type="text" placeholder="Recorrido "></ion-input>
          </ion-item>
          <ion-item>
              <ion-icon name="calendar"item-star></ion-icon>
              <ion-input type="date" placeholder="Fecha "></ion-input>
  
            </ion-item>
          <ion-item>
              <ion-icon name="cash"></ion-icon>
              <ion-input type="text" placeholder="Valor Convenio"></ion-input>
  
            </ion-item>
            <ion-item>
                <ion-icon name="card"item-star></ion-icon>
                <ion-input type="text" placeholder="Convenio "></ion-input>
              </ion-item>
              <ion-item>
                  <ion-icon name="information"item-star></ion-icon>
                  <ion-input type="text" placeholder="Obs"></ion-input>
                </ion-item>
              <ion-item>
                  <ion-icon name="person"item-star></ion-icon>
                  
                  <ion-input type="text" placeholder="Nombre Chófer "></ion-input>
                </ion-item>
    </ion-list>
    <div padding>
        <ion-button type="submit" size="small" expand="block"><ion-icon name="save"></ion-icon> Guardar</ion-button>
        <ion-button (click)="getPicture()" size="small" expand="block"><ion-icon name="camera"></ion-icon>Tomar Foto</ion-button>
          <!--<img [src]="image" *ngIf="image"/></ion-img > -->
    </div>

</ion-content>
