<section class="no-padding-top">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-12">
              <div class="card">
                  <div class="card-header">
                      <h3 class="h4">Registro Cliente Personas</h3>
                  </div>
                  <div class="card-body">
                  <div class="text-right">
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                          <i class="fa fa-plus-square"></i> Agregar Cliente
                      </button>
                  </div> 
                  <div class="table-responsive">                                       
                       <table class="table table-striped ">
                              <thead>
                                  <tr>
                                      <th>Nombre</th>
                                      <th>Apellido</th>
                                      <th>Dirección</th>
                                      <th>Ciudad</th>
                                      <th>Comuna</th>
                                      <th>Teléfono</th>
                                      <th>R.U.T</th>
                                      <th>Cuenta Corriente</th>
                                      
                                      
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <th scope="row">Pedro</th>
                                      <td>Peres</td>
                                      <td>calle N°22</td>
                                      <td>San Felipe</td>
                                      <td>San Felipe</td>
                                      <td>987654398</td>
                                      <td>12837543-2</td>
                                      <td>1</td>
                                      <td><button type="button" class="btn btn-xs"><i class="fa fa-trash"></i></button>
                                          <button type="button" class="btn btn-xs" data-toggle="modal" data-target="#myModal" ><i class="fa fa-edit"></i></button>
                                      </td>
                                  </tr>
                                  <tr>
                                          <th scope="row">Juan</th>
                                          <td>Mendez</td>
                                          <td>calle N°22</td>
                                          <td>Los Andes</td>
                                          <td>Los Andes</td>
                                          <td>987654398</td>
                                          <td>12837543-2</td>
                                          <td>2</td>
                                          <td><button type="button" class="btn btn-xs"><i class="fa fa-trash"></i></button>
                                              <button type="button" class="btn btn-xs" data-toggle="modal" data-target="#myModal" ><i class="fa fa-edit"></i></button>
                                          </td>
                                      </tr>       
                                      <tr>
                                              <th scope="row">Jose</th>
                                              <td>Smit</td>
                                              <td>calle N°22</td>
                                              <td>San Felipe</td>
                                              <td>San Felipe</td>
                                              <td>987654398</td>
                                              <td>12837543-2</td>
                                              <td>3</td>
                                              <td><button type="button" class="btn btn-xs" ><i class="fa fa-trash"></i></button> 
                                              <button type="button" class="btn btn-xs"  data-toggle="modal" data-target="#myModal" ><i class="fa fa-edit"></i></button>
                                          </td>
                                          </tr>            
                              </tbody>
                          </table>
                  </div>

                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
    <!-- The Modal -->
    <div class="modal modal fade" id="myModal">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Registro Clientes</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
                    <div class="card-body">
                        <form (ngSubmit)="guardar(forma)" #forma="ngForm" >
                                  <div class="form-row">
                                      <div class="form-group col-md-6">
                                        <label for="inputAddress">Nombre</label>
                                        <input type="text"
                                         class="form-control" 
                                         required
                                          placeholder="Pedro"
                                          name="nombre"
                                          ngModel
                                          #nombre="ngModel"
                                          [ngClass]="{'is-invalid':nombre.errors!=null && nombre.touched, 'is-valid':nombre.errors==null}"                                         
                                          >
                                          <div class="invalid-feedback" *ngIf="nombre?.errors?.required">
                                            Este campo es requerido
                                           </div>
                                      </div>
                                      <div class="form-group col-md-6">
                                        <label for="inputAddress2">Apellido</label>
                                        <input type="text" 
                                        class="form-control"
                                        required  
                                        placeholder="Pedro Perez"
                                        name="apellido"
                                        ngModel
                                        #apellido="ngModel"                                        
                                        [ngClass]="{'is-invalid':apellido.errors!=null && apellido.touched, 'is-valid':apellido.errors==null}"
                                        >
                                        <div class="invalid-feedback" *ngIf="apellido?.errors?.required">
                                            Este campo es requerido
                                           </div> 
                                      </div>
                                  </div>
                                  <div class="form-row">
                                      <div class="form-group col-md-4">
                                          <label for="direccion">Dirección </label>
                                          <input type="text"
                                           class="form-control" 
                                           required 
                                           placeholder="poblacion calle N° 45"
                                           name="direccion"
                                           ngModel 
                                           #direccion="ngModel"
                                           [ngClass]="{'is-invalid':direccion.errors!=null && direccion.touched, 'is-valid':direccion.errors==null}"
                                           >
                                           <div class="invalid-feedback" *ngIf="direccion?.errors?.required">
                                            Este campo es requerido
                                           </div>        
                                        </div>
                                        
                                          <div class="form-group col-md-4">
                                            <label for="ciudad">Ciudad</label>
                                            <input type="text" 
                                            class="form-control"
                                             required 
                                             placeholder="San Felipe" 
                                             name="ciudad"
                                             ngModel
                                             #ciudad="ngModel"
                                             [ngClass]="{'is-invalid':ciudad.errors!=null && ciudad.touched, 'is-valid':ciudad.errors==null}"
                                             >
                                             <div class="invalid-feedback" *ngIf="ciudad?.errors?.required">
                                                Este campo es requerido
                                               </div>   
                                          </div>
                                          <div class="form-group col-md-4">
                                            <label for="comuna">Comuna</label>
                                            <input type="text" 
                                            class="form-control"
                                             required
                                              placeholder="San Felipe"
                                              name="comuna"
                                              ngModel 
                                              #comuna="ngModel"
                                              [ngClass]="{'is-invalid':comuna.errors!=null && comuna.touched, 'is-valid':comuna.errors==null}"
                                              >
                                              <div class="invalid-feedback" *ngIf="comuna?.errors?.required">
                                                Este campo es requerido
                                               </div> 
                                          </div>
                                       </div>
                                       <div class="form-row">
                                        <div class="form-group col-md-4" >
                                          <label for="fono">Telefono </label>
                                          <input type="text"
                                           class="form-control" 
                                           required 
                                           placeholder="978879009"
                                           name="fono"
                                           ngModel
                                           #fono="ngModel"
                                           [ngClass]="{'is-invalid':fono.errors!=null && fono.touched, 'is-valid':fono.errors==null}"
                                           >
                                           <div class="invalid-feedback" *ngIf="fono?.errors?.required">
                                            Este campo es requerido
                                           </div>  
                                        </div>
                                        <div class="form-group col-md-4">
                                              <label for="rut">R.U.T </label>
                                              <input  type="text" 
                                              class="form-control"
                                               required 
                                               placeholder="10867512-1"
                                               name="rut"
                                               ngModel 
                                               #rut="ngModel"
                                               [ngClass]="{'is-invalid':rut.errors!=null && rut.touched, 'is-valid':rut.errors==null}"
                                               >
                                               <div class="invalid-feedback" *ngIf="rut?.errors?.required">
                                                Este campo es requerido
                                               </div>  
                                            </div>
                                      
                                      <div class="form-group col-md-4">
                                              <label for="Cuenta">Cuenta Corriente </label>
                                              <input value="" 
                                              type="text"
                                               class="form-control"
                                                id="text" 
                                                placeholder=""
                                                required
                                                name="cuentac"
                                                ngModel 
                                                #cuentac="ngModel"
                                                [ngClass]="{'is-invalid':cuentac.errors!=null && cuentac.touched, 'is-valid':cuentac.errors==null}"
                                                >
                                                <div class="invalid-feedback" *ngIf="cuentac?.errors?.required">
                                                    Este campo es requerido
                                                   </div>  
                                            </div>
                                      </div>
                                      <div class="form-group row float-right">
                                        <!--label class="col-12 col-form-label ">&nbsp;</label>-->
                                        <div class="input-group col-md-12">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                            <button type="button" [disabled]="!forma.valid" class="btn btn-success" > Guardar</button>
                             
                                        </div>
                                      </div>
                                 </form>   
                          </div>
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer text-center">
            </div>
      
          </div>
        </div>
      </div>
