<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Inicio Trabajador</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Trabajador</ion-card-title>
            <ion-card-subtitle>Cargo</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-img [src]="'assets/img/avatar.png'"></ion-img>
            <ion-label>RUN Trabajador</ion-label>
            <br> Tiempo en Turno 05:27:34
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Empresa</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-button (click)="iniciarJornada(1)" color="primary" size="full">
                <ion-icon slot="start" name="qr-scanner"></ion-icon>
                Ingresar con QR
            </ion-button>
            <ion-button (click)="iniciarJornada(2)" color="primary" size="full">
                <ion-icon slot="start" name="finger-print"></ion-icon>
                Ingresar con Huella
            </ion-button>
            <ion-button (click)="iniciarJornada(3)" color="primary" size="full">
                <ion-icon slot="start" name="call"></ion-icon>
                Ingresar con Llamada
            </ion-button>
            <ion-button (click)="terminarJornada()" color="danger" size="full">
                <ion-icon slot="start" name="close"></ion-icon>
                Terminar Turno
            </ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>