

                  <div class="container-fluid">
                      <div class="row">
                          <div class="col-lg-12">
                              <div class="card">
                                  <div class="card-header">
                                      <h3 class="h4">Registro vale</h3>
                                  </div>
                                  <div class="card-body text-left" >
                                    <!--minlength="5" //esto es para poner una cantidad de caracteres minimos-->
                                      <form (ngSubmit)="guardar(forma)" #forma="ngForm" ><!--ngNoForm-->
                                          <div class="form-row">
                                              <div class="form-group  col-md-6" >
                                                <label for="inputAddress">N° Vale</label>
                                                <input 
                                                type="text" 
                                                class="form-control" 
                                                required 
                                                placeholder="N°1243245"                      
                                                name="numero"
                                                ngModel
                                                #numero="ngModel"
                                                [ngClass]="{'is-invalid':numero.errors!=null && numero.touched, 'is-valid':numero.errors==null}"
                                                >
                                                <div class="invalid-feedback" *ngIf="numero?.errors?.required">
                                                 Este campo es requerido
                                                </div>
                                              </div>
                                              <div class="form-group col-md-6">
                                                <label for="inputAddress2">Nombre Cliente</label>
                                                <input type="text"
                                                 class="form-control"  
                                                 placeholder="Pedro Perez"
                                                 name="nombre"
                                                 ngModel
                                                 required 
                                                 #nombre="ngModel"
                                                 [ngClass]="{'is-invalid':nombre.errors!=null && nombre.touched, 'is-valid':nombre.errors==null}"
                                                 >
                                                 <div class="invalid-feedback" *ngIf="nombre?.errors?.required">
                                                    Este campo es requerido
                                                   </div>   
                                              </div>
                                          </div>
                                          <div class="form-row">
                                              <div class="form-group col-md-4">
                                                  <label for="inputAddress2">Recorrido </label>
                                                  <input type="text" 
                                                  class="form-control" 
                                                   placeholder=""
                                                   name="recorrido"
                                                   ngModel
                                                   required
                                                   #recorrido="ngModel"
                                                   [ngClass]="{'is-invalid':recorrido.errors!=null && recorrido.touched, 'is-valid':recorrido.errors==null}"
                                                   >
                                                   <div class="invalid-feedback" *ngIf="recorrido?.errors?.required">
                                                      Este campo es requerido
                                                     </div>   
                                                </div>
                                                
                                                  <div class="form-group col-md-4">
                                                    <label for="inputEmail4">Fecha</label>
                                                    <input type="date"
                                                     class="form-control"
                                                      required
                                                       placeholder="12/12/2019" 
                                                       name="fecha"
                                                       ngModel
                                                       #fecha="ngModel"
                                                       [ngClass]="{'is-invalid':fecha.errors!=null && fecha.touched, 'is-valid':fecha.errors==null}"
                                                       >
                                                       <div class="invalid-feedback" *ngIf="fecha?.errors?.required">
                                                          Este campo es requerido
                                                         </div>   
                                                  </div>
                                                  <div class="form-group col-md-4">
                                                    <label for="inputPassword4">Hora</label>
                                                    <input type="time" 
                                                    class="form-control"
                                                     required 
                                                     placeholder="12:00"
                                                     name="hora"
                                                     ngModel
                                                     #hora="ngModel"
                                                     [ngClass]="{'is-invalid':hora.errors!=null && hora.touched, 'is-valid':hora.errors==null}"
                                                     >
                                                     <div class="invalid-feedback" *ngIf="hora?.errors?.required">
                                                        Este campo es requerido
                                                       </div>   
                
                                                  </div>
                                               </div>
                                                <label>Valor Convenio</label>
                                                <div class="form-group">
                                                  <label for="inputAddress2">Obs </label>
                                                  <input type="text"
                                                   class="form-control"
                                                    required 
                                                    placeholder=""
                                                    name="obs"
                                                    ngModel
                                                    #obs="ngModel"
                                                    [ngClass]="{'is-invalid':obs.errors!=null && obs.touched, 'is-valid':obs.errors==null}"
                                                    >
                                                    <div class="invalid-feedback" *ngIf="obs?.errors?.required">
                                                       Este campo es requerido
                                                      </div>   
               
                             
                                                </div>
                                               <div class="form-row">
                                                <div class="form-group col-md-6" >
                                                  <label for="inputAddress2">Convenio </label>
                                                  <input type="text" 
                                                  class="form-control"
                                                   required 
                                                   placeholder=""
                                                   name="convenio"
                                                   ngModel
                                                   #convenio="ngModel"
                                                   [ngClass]="{'is-invalid':convenio.errors!=null && convenio.touched, 'is-valid':convenio.errors==null}"
                                                   >
                                                   <div class="invalid-feedback" *ngIf="convenio?.errors?.required">
                                                      Este campo es requerido
                                                     </div>   
                                         
                                                </div>
                                                <div class="form-group col-md-6">
                                                  <label for="inputAddress2">Nombre Chófer </label>
                                                  <input  type="text" 
                                                  class="form-control" 
                                                  required 
                                                  placeholder=""
                                                  name="chofer"
                                                  ngModel
                                                  #chofer="ngModel"
                                                  [ngClass]="{'is-invalid':chofer.errors!=null && chofer.touched, 'is-valid':chofer.errors==null}"
                                                  >
                                                  <div class="invalid-feedback" *ngIf="chofer?.errors?.required">
                                                     Este campo es requerido
                                                    </div>   
                              
                                                </div>
                                              </div>
                                          <div class="form-group row float-right">
                                            <!--label class="col-12 col-form-label ">&nbsp;</label>-->
                                            <div class="input-group col-md-8">
                                              <button [disabled]="!forma.valid"
                                              type="submit" 
                                              class="btn btn-outline-primary">
                                                Guardar
                                              </button>
                                            </div>
                                          </div>
                                        
                                        </form>

                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
        

