<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Ayuda de la Aplicación</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Ayuda de Aplicación</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-label>Esta es la Sección donde se presentara la Ayuda y las Preguntas frecuentes</ion-label>
        </ion-card-content>
    </ion-card>
</ion-content>