<section class="no-padding-top">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-12">
              <div class="card">
                  <div class="card-header">
                      <h3 class="h4">Servicios Actuales </h3>
                  </div>
                  <div class="card-body">
                      <table id="table" class="table table-striped">
                          <thead>
                              <tr>
                                  <th>Nombre Pasajero</th>
                                  <th>Fecha </th>
                                  <th>Hora</th>
                                  <th>Convenio</th>
                                  <th>Chófer Asignado</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <th scope="row">Juan Lopez</th>
                                  <td>22/02/2019</td>
                                  <td>18:00</td>
                                  <td>Enjoy Santiago</td>
                                  <td>miguel</td>
                                  <td>
                                          <button type="submit" class="btn btn-second" data-toggle="modal" data-target="#exampleModal">
                                                  <i class="fa fa-edit"></i>
                                                 
                                          </button>
                                      </td>
                              </tr>
                              <tr>
                                  <th scope="row">Pedro Serrano</th>
                                  <td>15/02/2019</td>
                                  <td>09:00 </td>
                                  <td>Ripley</td>
                                  <td>vacio</td>
                                  <td>
                                          <button type="submit" class="btn btn-second" data-toggle="modal" data-target="#exampleModal">
                                                  <i class="fa fa-edit"></i>
                                                 
                                          </button>
                                      </td>
                              </tr>
                              <tr>
                                  <th scope="row">Pablo Aguilera</th>
                                  <td>15/03/2019</td>
                                  <td>22:00</td>
                                  <td>Codelco</td>
                                  <td>juan</td>
                                  <td>
                                          <button type="submit" class="btn btn-second" data-toggle="modal" data-target="#exampleModal">
                                                  <i class="fa fa-edit"></i>
                                                 
                                          </button>
                                      </td>
                               </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Lista de Chófer</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center " >
              <select id="feedingHay" class="selectpicker col-lg-12"  >
                  <optgroup label="Seleccione"></optgroup>
                      <option value="1" >Chófer 1</option>
                      <option value="2" >Chófer 2</option>
                      <option value="3" >Chófer 3</option>
                      <option value="4" >Chófer 4</option>
                      <option value="5" >Chófer 5</option>
                </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" onclick="a()">Asignar </button>
          </div>
        </div>
      </div>
    </div>