<section class="no-padding-top">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-12">
              <div class="card">
                  <div class="card-header">
                      <h3 class="h4">Generar Factura</h3>
                  </div>
                  <div class="card-body align-btn-center " >
                      
                            <label>Factura a</label>
                            <div class="form-row">
                                  <div class="form-group col-md-4">
                                    <label for="inputAddress">R.U.T</label>
                                    <input type="text" class="form-control" required >
                                  </div>
                                  <div class="form-group col-md-4">
                                    <label for="inputAddress2">Nombre o Razón Social</label>
                                    <input type="text" class="form-control" required >
                                  </div>
                                  <div class="form-group col-md-4">
                                          <label for="inputAddress2">Giro del Negocio</label>
                                          <input type="text" class="form-control" required >
                                        </div>

                              </div>
                              <div class="form-row">
                                   
                                  <div class="form-group col-md-4">
                                      <label for="inputAddress2">Dirección</label>
                                      <input type="text" class="form-control" required placeholder="">
                                    </div>
                                    
                                      <div class="form-group col-md-4">
                                        <label for="domnicilio">Comuna</label>
                                        <input type="text" class="form-control" required placeholder="" >
                                      </div>
                                      <div class="form-group col-md-4">
                                              <label for="inputAddress2">Rubro </label>
                                              <input type="text" class="form-control" required placeholder="">
                                            </div>
                                   </div>
                                   <div class="form-row">
                                   
                                          <div class="form-group col-md-6">
                                              <label for="inputAddress2">Ciudad</label>
                                              <input type="text" class="form-control" required placeholder="">
                                            </div>
                                              <div class="form-group col-md-6">
                                                <label for="inputPassword4">Teléfono</label>
                                                <input type="text" class="form-control" required placeholder="">
                                              </div>
                                   </div>
                          <label>Factura</label>
                          <div class="form-group">
                                  <div class="form-row">
                                          <div class="form-group col-md-4">
                                              <label for="inputAddress2">N° Factura </label>
                                              <input type="text" class="form-control" required placeholder="">
                                            </div>
                                            
                                              <div class="form-group col-md-4">
                                                <label for="inputEmail4">Fecha Emisión</label>
                                                <input type="date" class="form-control" required >
                                              </div>
                                              <div class="form-group col-md-4">
                                                <label for="inputPassword4">Fecha Vencimiento</label>
                                                <input type="date" class="form-control" required >
                                              </div>
                                           </div>
                        </div>
                        <table class="table table-striped ">
                              <thead>
                                  <tr>
                                      <th>Cantidad</th>
                                      <th>Descripción</th>
                                      <th>Precio Unitario</th>
                                      <th>Total</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <th scope="row"> </th>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                  </tr>
                                  <tr>
                                          <th scope="row"> </th>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                      </tr>       
                                      <tr>
                                              <th scope="row"> </th>
                                              <td></td>
                                              <td></td>
                                              <td></td>
                                              <td></td>
                                          </tr>            
                              </tbody>
                          </table>
                          <div class="text-left ">
                                  <button type="submit" class="btn btn-primary ">Generar Factura</button>
                          </div>
                          
                        
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>