<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Registro de Incentivos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Registros de Incentivos</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-label text-wrap>En este sector se encontrara la opción de registrar los incentivos para los trabajadores</ion-label>
        </ion-card-content>
    </ion-card>
</ion-content>