<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>cmapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map_canvas">
    <table class="smallPanel">
      <tr>
        <td ><ion-input type="text" id="search_address" #search_address style="ime-mode: disable" autocomplete="on" ></ion-input></td>
        <td><ion-button (click)="onButton1_click($event)">A donde vas</ion-button></td>
        
      </tr>
    </table>
    <ion-button style="position:relative; position:absolute;bottom:50px;right:10px"  (click)="onButton2_click($event)"><ion-icon name="locate"></ion-icon></ion-button>
    <ion-button style="position:relative; position:absolute;bottom:5px;right:10px" title="Agendar" item-end (click)="abrirmodal($event)"><ion-icon name="book"></ion-icon></ion-button>
  </div>
</ion-content>
