<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Centros De Costo</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Centro de Costo 1</ion-card-title>
            <ion-card-subtitle>Descripción Centro de Costo</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-label text-wrap>Área 1 asociada a Centro de Costo 1</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label text-wrap>Área 2 asociada a Centro de Costo 1</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label text-wrap>Área 3 asociada a Centro de Costo 1</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label text-wrap>Área 4 asociada a Centro de Costo 1</ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Centro de Costo 2</ion-card-title>
            <ion-card-subtitle>Descripción Centro de Costo</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-label text-wrap>Área 1 asociada a Centro de Costo 2</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label text-wrap>Área 2 asociada a Centro de Costo 2</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label text-wrap>Área 3 asociada a Centro de Costo 2</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label text-wrap>Área 4 asociada a Centro de Costo 2</ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>