<ion-header>
  <ion-toolbar>
    <ion-title>agendar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
   
        <ion-list>

          <ion-item>           
                
                <ion-icon name="calendar"item-star></ion-icon>
                <ion-label>Fecha</ion-label>
                <ion-input type="date" placeholder="Fecha "></ion-input>  
          </ion-item>
          <ion-item>
             
              <ion-icon name="clock"></ion-icon>
              <ion-label>Hora {{ xx }}</ion-label>
              <ion-input type="time" placeholder="hora "></ion-input>
  
            </ion-item>
          <ion-item>
              <ion-icon name="person"item-star></ion-icon>
              <ion-input type="text" placeholder="Recorrido " value="a {{ xx }}">{{ xx }}</ion-input>
            </ion-item>
   
        </ion-list>
        <div padding>
            <ion-button  (click)="cerrar()" type="submit" size="small" expand="block"><ion-icon name="save"></ion-icon> Cerrar</ion-button>
        </div>
       
</ion-content>
